<div class = "container" >
 <div class = "row" >
  <div class = "col-lg-3">
   <%= render 'admin/genres/genre_sidebar', genres: @genres  %>
  </div>
  <div class = "col-lg-9 m-20 text-secondary">
   <%= image_tag "top_image.jpeg", style: "width: 500px; height: 300px;", class:"m-30"%>
   <h4>ようこそ、ながのCAKEへ！</h4>
   <p>このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧いただけますが、<br>
   購入には会員登録が必要になります。</p>

   <h5>新着商品</h5>
   <div class="row">
    <% @random.each do |item| %>
    <div class="col-md-3">
     <div class="img_field">
      <%= link_to item_path(item) do %>
      <%= image_tag item.get_image(150,100) %>
      <% end %>
     </div>
     <p><%= item.name %></p>
     <p>¥<%= item.with_tax_price %></p>
    </div>
    <% end %>
   </div>
   <div class="recommend-more">
    <%= link_to "全ての商品を見る>", items_path %>
   </div>
  </div>
 </div>
</div>
